/* Style the Navigation Bar */
.nav {
    background: #8db097; /* Green background */
    padding: 10px 25px; /* Add spacing inside the box */
    display: flex; /* Enables horizontal layout */
    justify-content: space-between;
    align-items: center; /* Aligns items vertically */
    position: fixed; /* Fixes the nav bar at the top */
    top: 0; /* Aligns nav to the top of the page */
    left: 0;
    width: 100%; /* Full width */
    z-index: 1000; /* Ensures nav is above other elements */
  }

  /* Remove default list styling */
  .nav ul {
    list-style: none;
    display: flex; /* Makes items appear in a row */
    gap: 35px; /* Spaces out menu items */
    padding: 10;
    margin: 0;
  }

/* Logo Styling */
.logo img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 38px; /* Small logo */
    width: auto;
    margin-left: 30px;
  }


  /* Style Navigation Links */
  .nav a {
    text-decoration: none;
    color: rgb(236, 233, 167); /* Text color */
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }

  /* Hover Effect */
  .nav a:hover {
    color: #f4ce14; /* Yellow accent */
  }
  /* @media screen and (max-width: 2000px) {
    .logo img {
        width:  auto
    }
}
@media screen and (max-width: 1150px) {}

@media screen and (max-width: 650px) {} */