/* Style the Navigation Bar */
.nav {
    background: #8db097; /* Green background */
    padding: 30px 0; /* Add spacing inside the box */
    display: flex; /* Enables horizontal layout */
     /* Aligns items vertically */
    position: fixed; /* Fixes the nav bar at the top */
    top: 0; /* Aligns nav to the top of the page */
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}


  /* Remove default list styling */
  .nav ul {
    list-style: none;
    display: flex; /* Makes items appear in a row */
    gap: 25px; /* Spaces out menu items */
    padding: 25px;
    margin: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .nav-container {
    max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

    display: flex;
    justify-content: space-between; /* ✅ logo left, links right */
    align-items: center;
    gap: 40px;
  }

  .logo img {
    max-width: 190px;
  }

  /* Style Navigation Links */
  .nav a {
    text-decoration: none;
    color: rgb(236, 233, 167); /* Text color */
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }

  /* Hover Effect */
  .nav a:hover {
    color: #f4ce14; /* Yellow accent */
  }

  @media (max-width: 768px) {
    .nav ul {
      gap: 10px; /* Reduce space between links on small screens */
    }
    .nav {
      height: auto;
      padding: 10px 15px;
    }
  }
  /* @media screen and (max-width: 2000px) {
    .logo img {
        width:  auto
    }
}
@media screen and (max-width: 1150px) {}

@media screen and (max-width: 650px) {} */